.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.tech-card {
    list-style-type: none;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    max-width: 300px;
    max-height: 600px;
    padding: 20px;
}

.sub-heading {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    color: #171f46;
}

.details {
    font-family: "Roboto";
    font-size: 14px;
    color: #64748b;
}

.image-container {
    text-align: right;
}

.image {
    height: 100px;
    width: 100px;
}

